.liqugallery-api-error {
    display: none;
}

.liqugallery-files-click-zone {
    border: 2px dashed #bbb;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    font: 20pt bold;
    color: #bbb;
    cursor: pointer;
    transition: color 300ms ease-in;
}

.liqugallery-files-drop-zone.highlighted {
    background-color: #F1F1F1;
}

.liqugallery-api-error {
    border: 2px dashed #E90303;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    font: 20pt bold;
    color: #E90303;
    display: none;
}

#liqugallery-files-input {
    display: none;
}

.liqugallery-item-image {
    flex-basis: 22%;
}

.liqugallery-item-actions {
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 18%;
    height: 100%;
    align-items: center;
}

.liqugallery-item-actions button {
    border: none;
    font-size: 12px;
    transition: 0.2s background-color ease-in;
    font-weight: bold;
    flex-basis: 100%;
    height: 25%;
}

.liqugallery-item-actions button.disabled,
.liqugallery-item-actions button.disabled:hover,
.liqugallery-item-actions button.disabled:focus {
    background-color: #ffffff;
    color: black;
    cursor: auto;
    outline: none;
}

.liqugallery-image {
    width: 100%;
}

.liqugallery-item-filename {
    text-align: center;
    font-style: italic;
}

.liqugallery-templates {
    display: none;
}

.liqugallery-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.liqugallery-element {
    flex-basis: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #bbbbbb;
    padding: 5px;
    margin-bottom: 10px;
}

.liqugallery-item-tags .form-group {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 0;
    align-items: center;
    flex-basis: 100%;
    position: relative;
}

.liqugallery-item-tags .form-group .control-label {
    flex-basis: 25%;
    margin-bottom: 0;
}

.liqugallery-item-tags {
    flex-basis: 55%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.liqugallery-item-tag-status {
    position: absolute;
    font-size: 10px;
    right: 0;
    bottom: -2px;
}

.liqugallery-item-tag-status.saving {
    color: #d8be02;
}

.liqugallery-item-tag-status.saved {
    color: #01800a;
}

.liqugallery-item-tag-status.error {
    color: #b90505;
}
